body{
    background-image: url("../images/about-page.jpg");  
    background-size: 150%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: black;
    filter: brightness(100%);
}
nav ul li{
    color: whitesmoke;
    text-align: center;
    font-family: "MedievalSharp";
    display: block;
}
header img{
    width: 70px;
    display: block;
    margin: 0 auto;
}

ul li img{
    border: 3px groove rgb(168, 89, 15);
    border-radius: 180px;
    width: 150px;
    position: absolute;
    transform: rotate(90deg);
    margin: 70px 50px 50px 50px;
}

h2{
    color: whitesmoke;
    text-align: center;
    font-family: "MedievalSharp";
    font-size: 60px;
    text-shadow: 2px -2px black;
    margin: 0px;
    padding: 10px;
}
p{
    border:4px groove burlywood;
    color:black;
    background-color:rgb(204, 199, 199);
    opacity: 0.73;
    margin: 10px 250px;
    padding: 10px 20px;

}

footer{
    background-color: red;
    color: white;
    margin-top: 50px;
    padding: 15px;
}
footer h2{
    font-size: 30px;
}
a{
    text-decoration: none;
}