body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 50px;
  border: 1px solid silver;
  width: 850px;
  height: 1100px;
  margin: 20px auto;
}

p, span {
  font-size: 18px;
  font-family: "Homemade Apple", cursive;
  height: 20px;
}

/* HEADER */

header {
  font-size: 14px;
  margin-bottom: 15px;
  width: 850px;
  height: 175px;
}
header nav li {
  float: right;
  margin-right: 15px;
  padding: 3px 8px;
  background-color: darkred;
  border: 2px outset darkred;
  border-radius: 0 0 10px 10px;
}
a {
  color: white;
  font-family: monospace;
  text-shadow: -1px -1px rgb(70, 0, 0);
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 5;
}
header img {
  float:left;
  width: 150px;
  margin-left: 25px;
}
h1 {
  font-family: "MedievalSharp";
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  text-decoration: black underline;
}
#name {
  position: absolute;
  top: 135px;
  width: 325px;
  background-color: white;
  border: 5px double black;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 10px;
  padding: 5px;
}
#name p {
  height: 20px;
  margin: 5px 10px;
  text-align: center;
}
header table {
  position: relative;
  left: 165px;
  top: 25px;
  width: 500px;
  height: 100px;
  border: 5px solid black;
  border-radius: 10px;
}
header td {
  padding-left: 5px;
  width: 166px;
  border: 1px silver solid;
}
header td p {
  height: 20px;
  text-align: right;
  margin-top: 10px;
}

/* STATBLOCK */
main>div {
  display: inline-block;
  width: 263px;
  background-color: silver;
  border: 5px outset silver;
  border-radius: 10px;
  margin-bottom: 15px;
}
#statblock, #health, #proLang, #eqpmtCharNotes {
  float: left;
  margin-right: 15px;
}
#health, #atkSpell {
  height: 400px;
}
#proLang, #eqpmtCharNotes {
  height: 200px;
}
#features {
  height: 425px;
}
#statblock {
  height: 850px;
}

#statblock>h2 {
  margin: 5px;
  background-color: white;
  border: 5px double black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  padding: 15px 10px;
  width: 225px;
}

#statblock>h2>span {
  font-size: 20px;
  margin-right: 5px;
  padding: 0 20px;
  border: solid black 1px;
  border-radius: 50%;
  text-decoration: underline;
}

#statblock>ul {
  height: 600px;
}

#statblock>ul>li {
  border: 1px solid black;
  height: 100px;
  padding-top: 5px;
}

#statblock ul li div {
  background-color: white;
  float: left;
  width: 50px;
  border-bottom-right-radius: 10px;
  text-align: center; 
}

#statblock ul li div p {
  height: 30px;
  font-size: 30px;
}

#statblock ul li div p:first-child{
  border: solid 1px black;
  height: 20px;
}

#statblock ul li ul {
  float: right;
  width: 190px;
  height: 90px;
  font-size: 12px;
}
#statblock ul li ul li {
  padding-bottom: 5px;
}
#statblock ul li ul li h2 span {
  display: inline-block;
  height: 10px;
  width: 20px;
  text-decoration: underline;
}

#statblock>h2:last-child {
  position: relative;
  bottom: -40px;
}
#logo{
  position: absolute;
  top: 30px;
  margin: 0 auto;
  padding: 0px;
  height: 1100px;
  width: 850px;
  opacity: 0.1;
  filter: grayscale();
  z-index: 1;
} 
#atkSpell table{ 
  margin: 5px;
  background-color: white;
  border: solid 5px;
  border-radius: 5px;
  padding: 15px 10px;
  width: 248px;
  
}
#atkSpell th{
  height: 16px;
  border: 1px black solid;
}
#atkSpell td{
  height: 16px;
  border: 1px solid black; 
}
#atkSpell tr td:first-child{
  width: 80px;
}
#atkSpell ul{
  margin: 5px;
  height: 250px;
  width: 248px;
  border: 2px inset silver;
  background-color: white;
}
#atkSpell li{
  font-family: "Homemade Apple";
  border-bottom: 1px solid silver;
  line-height: 30px;
}
#atkSpell li:last-child{
  border: none;
}
#atkSpell h5{
  font-weight: bold;
  border-bottom: 1px solid silver
}
#health h2{
  font-weight: bold;
}
#proLang h2{
  font-weight: bold;
}
#eqpmtCharNotes h2{
  font-weight: bold;  
}
#features h2{
  font-weight: bold;
}
#proLang ul{
  height:180px;
  padding-left: 15px;
  padding-top:5px;
  padding-right: 15px;
}
#eqpmtCharNotes ul{
  height:180px;
  padding-left: 15px;
  padding-top:5px;
  padding-right: 15px;
}
#features ul{
  height: 400px;
  padding-left:15px;
  padding-top:5px;
  padding-right: 15px;
  background-color: white;
  border: silver 2px inset;
  line-height: 15px;
}
#deathSaves span{
  display: inline-block;
  width: 75px ;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
#armor p, #init p, #speed p {
  border: 2px solid black;
  text-align: center;
  height: 50px;
  font-size: 45px;
  border: 1px double black;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 10px;
}
#armor, #init, #speed{
 display: inline-block;
  border: 2px solid black;
 width: 58px;
 height: 70px;
 margin-left: 18px;
 margin-top: 10px;
}

#curntHP{
  border: 2px inset black;
  border-radius: 10px;
  margin: 15px;
}
#curntHP p{
  margin: 5px;
  font-size: 40px;
  margin-left: 15px;
} 
#tempHP{
  border: 2px inset black;
  border-radius: 10px;
  margin: 15px;
}
#hitDice{
  border: 2px inset black;
  border-radius: 10px;
  margin: 15px;
}
#hitDice p{
  font-size: 20px;  
  margin-top: 5px;
}
#deathSaves{
  border: 2px inset black;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
}
#armor, #init, #speed {
  text-align: center;
}
#atkSpell li{
  margin-left: 8px;
  margin-right: 8px;  
}
#job p, #background p, #username p, #race p, #alignment p, #exp p{
  margin-left: 8px;
  margin-right: 8px;
}