body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 50px;
  border: 1px solid silver;
  width: 850px;
  height: 1100px;
  margin: 20px auto;
}

p, span {
  font-size: 18px;
  font-family: "Homemade Apple", cursive;
  height: 20px;
}

/* HEADER */

header {
  font-size: 14px;
  margin-bottom: 15px;
  width: 850px;
  height: 175px;
}
header nav li {
  float: right;
  margin-right: 15px;
  padding: 3px 8px;
  background-color: darkred;
  border: 2px outset darkred;
  border-radius: 0 0 10px 10px;
}
a {
  color: white;
  font-family: monospace;
  text-shadow: -1px -1px rgb(70, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
header img {
  float:left;
  width: 150px;
  margin-left: 25px;
}
h1 {
  font-family: "MedievalSharp";
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  text-decoration: black underline;
}
#name {
  position: absolute;
  top: 135px;
  width: 325px;
  background-color: white;
  border: 5px double black;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 10px;
  padding: 5px;
}
#name p {
  height: 20px;
  margin: 5px 10px;
  text-align: center;
}
header table {
  position: relative;
  left: 165px;
  top: 25px;
  width: 500px;
  height: 100px;
  border: 5px solid black;
  border-radius: 10px;
}
header td {
  padding-left: 5px;
  width: 166px;
  border: 1px silver solid;
}
header td p {
  height: 20px;
  text-align: right;
  margin-top: 10px;
}

/* STATBLOCK */
main>div {
  display: inline-block;
  width: 263px;
  background-color: silver;
  border: 5px outset silver;
  border-radius: 10px;
  margin-bottom: 15px;
}
#statblock, #health, #proLang, #eqpmtCharNotes {
  float: left;
  margin-right: 15px;
}
#health, #atkSpell {
  height: 400px;
}
#proLang, #eqpmtCharNotes {
  height: 200px;
}
#features {
  height: 425px;
}
#statblock {
  height: 850px;
}

#statblock>h2 {
  margin: 5px;
  background-color: white;
  border: 5px double black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  padding: 15px 10px;
  width: 225px;
}

#statblock>h2>span {
  font-size: 20px;
  margin-right: 5px;
  padding: 0 20px;
  border: solid black 1px;
  border-radius: 50%;
  text-decoration: underline;
}

#statblock>ul {
  height: 600px;
}

#statblock>ul>li {
  border: 1px solid black;
  height: 100px;
  padding-top: 5px;
}

#statblock ul li div {
  background-color: white;
  float: left;
  width: 50px;
  border-bottom-right-radius: 10px;
}

#statblock ul li div p {
  height: 30px;
}

#statblock ul li div p:first-child{
  border: solid 1px black;
  height: 20px;
}

#statblock ul li ul {
  float: right;
  width: 190px;
  height: 90px;
  font-size: 12px;
}

#statblock ul li ul li h2 span {
  display: inline-block;
  height: 10px;
  width: 10px;
  text-decoration: underline;
}

#statblock>h2:last-child {
  position: relative;
  bottom: -40px;
}
#logo{
  position: absolute;
  top: 30px;
  margin: 0 auto;
  padding: 0px;
  height: 1100px;
  width: 850px;
  opacity: 0.1;
  filter: grayscale();
} 