header {
  margin-bottom: 50px;
}

body { 
background-image: url("../images/DwarfTheme.jpg");  
background-repeat: no-repeat;
background-size: 100% 100%;
/* color: #ff0000; */
}

#race {
  display: inline-block;
  position: relative;
  border: 2px solid black;
  width: 15vw;
  height:550px;
  margin-right: 2vw;
  margin-left: 3vw;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5)
}

#race li {
  margin: 10px;
}

#role{
  display: inline-block;
  border: 2px solid black; 
  width: 13vw;
  height: 550px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
}

#role li {
  margin: 10px;
}

body{
  padding-left: 5vw;
}
content{
  width: 90vw;
  display:block;
  height: 750px;
}
aside{
  border: solid;
  margin-top: 20px;
  width: 800px;
  background:rgba(255, 255, 255, 0.5);
  font-size: 20px;
  height:650px;
}
#subraces{
  float: left;
  width: 20vw
}
#subjobs  {
  float: right;
  width: 32vw;
}
button{
  position: absolute;
  top: 700px;
  left: 35%;
  width: 250px;
  height: 75px;
  background-image: url("../images/buttonImg.jpg");
  background-size: 100% 100%;
  border: none;
  color: rgb(204, 199, 199);
  font-size: 25px;
}

#characterName {
  border-top: solid black;
  height: 45px;
  font-size: 30px;
  padding-top: 5px;
}

#characterName input {
  height: 30px;
  font-size: 30px;
}

