header{
  margin-bottom: 35px;
}
body {
  background-color: slategrey;
}

.race {
  display: inline-block;
  border: 2px solid black;
  text-align: left;
  width: 13vw;
  height:400px;
  margin-right: 4vw;
  margin-left: 3vw;
}

.role{
  display: inline-block;
  border: 2px solid black;
  /* position: relative; */
  width: 13vw;
  height: 400px;
}
body{
  padding-left: 5vw;
}
content{
  width: 90vw;
  border: solid;
  display:block;
}
aside{
  border: solid;
}
#subraces{
  float: left;
  width: 20vw
}
#subjobs  {
  float: right;
  width: 32vw;
}
button{
  align-self: center;
}